h1 {
	font-size: 24px;
	margin-left: 20px;
}

.buttons{
	display: flex;
	padding: 0;
	align-items: center;
}

header button {
	margin: 5px 10px;
	padding: 5px;
	height: 40%;
	border-radius: 5px;
	border: 1px solid black;
	-webkit-border: 1px solid black;
	-webkit-border-radius: 5px;
	box-shadow: 2px 5px 5px;
	-webkit-box-shadow: 2px 5px 5px;
}

header button:hover {
	transform: translateY(2px);
	-webkit-transform: translateY(2px);
	box-shadow: none;
	-webkit-box-shadow: none;
}

header {
	border-bottom: 1px solid black;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
}

form {
	margin: 10px 5vw;
	
	flex-direction: column;
}

.item{
	display: flex;
	padding: 5px;
	margin: 10px 0;
}

#products {
	display: grid;
	grid-template-columns: repeat(auto-fit, 250px);
	grid-gap: 2em;
	grid-auto-rows: 220px;
}

.product {
	border: 3px solid black;
	
}

.product-data {
	text-align: center;
}


@media (min-width:600px){
	h1 {
		font-size: 32px;
	}
}
